myhome.txt
[{"id":"67bf247a.e6db64","type":"tab","label":"MyHome","disabled":false,"info":""},{"id":"19f7153f.f6756b","type":"tcp out","z":"67bf247a.e6db64","host":"192.168.1.35","port":"20000","beserver":"client","base64":false,"end":false,"name":"Comandi al WebServer ","x":1130,"y":620,"wires":[]},{"id":"2dac084.9ae0df8","type":"inject","z":"67bf247a.e6db64","name":"Ack","topic":"MyHome/LUCE/ACK","payload":"*#*1##","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":1740,"wires":[["e9ed8dc9.6a0318"]]},{"id":"51d2d5ab.bd2084","type":"inject","z":"67bf247a.e6db64","name":"Attiva Socket Comandi","topic":"MyHome/LUCE/COMANDI","payload":"*99*0##","payloadType":"str","repeat":"","crontab":"","once":true,"x":450,"y":580,"wires":[["e9ed8dc9.6a0318"]]},{"id":"115d8dc8.b29c2a","type":"inject","z":"67bf247a.e6db64","name":"Nack","topic":"MyHome/LUCE/NACK","payload":"*#*0##","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":1780,"wires":[["e9ed8dc9.6a0318"]]},{"id":"198b8f43.396599","type":"inject","z":"67bf247a.e6db64","name":"Attiva Socket Monitor","topic":"MyHome/LUCE/MONITOR","payload":"*99*1##","payloadType":"str","repeat":"","crontab":"","once":true,"x":180,"y":200,"wires":[["118351b5.d14eae"]]},{"id":"1c661b70.086f05","type":"debug","z":"67bf247a.e6db64","name":"Msg. ricevuti","active":true,"console":"false","complete":"payload","x":1090,"y":240,"wires":[]},{"id":"118351b5.d14eae","type":"tcp request","z":"67bf247a.e6db64","server":"192.168.1.35","port":"20000","out":"sit","splitc":" ","name":"Monitoraggio del WebServer","x":520,"y":160,"wires":[["37074949.5e3076","156f7e51.95e89a"]]},{"id":"37074949.5e3076","type":"function","z":"67bf247a.e6db64","name":"Converte In Stringa","func":"msg.payload = msg.payload.toString('utf8');\n//msg.payload = String(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["1c661b70.086f05","926c9c41.2f7878","29256613.6887fa","17a97596.63a1ba","7aae7149.e49a98","e1fc1f82.33373","a17e817d.9aa69","12895baa.26ae2c","7041dfc1.409f5","440df5f3.4e434c","1ae9ed27.1c819b","ab0cf7ee.865928","6d12014a.95f728","32f1b6e6.4cd67a","7e84986f.dd5d","c0afacb7.5eb518","13f61fda.17d7c","2cb75e73.c9974a","a83d79d5.4aef48","b9f9504a.3c13f","cf5a090e.afb138","3ef88de0.5102a2","5a21b374.82c834","2505a745.6d4638","11aa4c0b.1085f4","6efe8028.04ad78","11e8e75d.4acce1","88a2ec4f.1580c8","fb8b6e97.2ae0e","3c6fe027.3e4e68","627f4205.eef984","6ce2f4ac.462dc4","808e96fc.8428a8","2d7b7cf6.ce8484","46ac2336.06cb1c","a892605b.820578","39f9658e.629962","549b487b.314ec"]]},{"id":"926c9c41.2f7878","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Lampadario Cucina","group":"d45651a1.76b07","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A8/P1","style":"","onvalue":"*1*1*81##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*81##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":430,"y":2060,"wires":[["e9ed8dc9.6a0318"]]},{"id":"d87d94fa.b6b0c","type":"ui_button","z":"67bf247a.e6db64","name":"Riattiva Socket Monitor","group":"ed71de57.e4ff","order":5,"width":0,"height":0,"passthru":false,"label":"Riattiva Monitor","color":"","bgcolor":"","icon":"input","payload":"*99*1##","payloadType":"str","topic":"MyHome/LUCE/RIMONITOR","x":170,"y":120,"wires":[["118351b5.d14eae"]]},{"id":"16cd4db5.dc06da","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Cucina","group":"d45651a1.76b07","order":1,"width":0,"height":0,"passthru":false,"label":"Spegni Cucina","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*8##","payloadType":"str","topic":"MyHome/LUCE/G2/A8","x":880,"y":1280,"wires":[["e9ed8dc9.6a0318"]]},{"id":"1b49f609.9532ca","type":"comment","z":"67bf247a.e6db64","name":"Ricezione comandi OpenWebNet dal Bus","info":"Socket sempre connesso per ricevere lo stato dell'impianto in tempo reale.\nServe per il Feedback degli interruttori e per intraprendere delle azioni in base al comando ricevuto.","x":220,"y":60,"wires":[]},{"id":"faf1901e.8da578","type":"comment","z":"67bf247a.e6db64","name":"Invio comandi OpenWebNet al Bus","info":"Socket per inviare comandi OpenWebNet al Bus","x":760,"y":480,"wires":[]},{"id":"29256613.6887fa","type":"function","z":"67bf247a.e6db64","name":"Invia Richiesta Stato","func":"if (msg.payload.substr(0, 4) == \"*1*1\" || msg.payload.substr(0, 4) == \"*1*0\") {\n    switch (msg.payload.substr(msg.payload.length - 4)) {\n        case \"*0##\": // Se comando ON/OFF Generale Impianto\n            msg.payload = \"*#1*0##\"; // Richiesta stato Impianto\n            break;\n        case \"*1##\": // Se comando ON/OFF Ambiente 1\n            msg.payload = \"*#1*1##\"; // Richiesta stato \n            break;\n        case \"*2##\": // Se comando ON/OFF Ambiente 2\n            msg.payload = \"*#1*2##\"; // Richiesta stato \n            break;\n        case \"*3##\": // Se comando ON/OFF Ambiente 3\n            msg.payload = \"*#1*3##\"; // Richiesta stato \n            break;\n        case \"*4##\": // Se comando ON/OFF Ambiente 4\n            msg.payload = \"*#1*4##\"; // Richiesta stato \n            break;\n        case \"*5##\": // Se comando ON/OFF Ambiente 5\n            msg.payload = \"*#1*5##\"; // Richiesta stato \n            break;\n        case \"*6##\": // Se comando ON/OFF Ambiente 6\n            msg.payload = \"*#1*6##\"; // Richiesta stato \n            break;\n        case \"*7##\": // Se comando ON/OFF Ambiente 7\n            msg.payload = \"*#1*7##\"; // Richiesta stato \n            break;\n        case \"*8##\": // Se comando ON/OFF Ambiente 8\n            msg.payload = \"*#1*8##\"; // Richiesta stato \n            break;\n        case \"*9##\": // Se comando ON/OFF Ambiente 9\n            msg.payload = \"*#1*9##\"; // Richiesta stato \n            break;\n        case \"#1##\": // Se comando ON/OFF Gruppo 1\n            msg.payload = \"*#1*#1##\"; // Richiesta stato \n            break;\n        case \"#2##\": // Se comando ON/OFF Gruppo 2\n            msg.payload = \"*#1*#2##\"; // Richiesta stato \n            break;\n        case \"#9##\": // Se comando ON/OFF Gruppo 9\n            msg.payload = \"*#1*#9##\"; // Richiesta stato \n            break;\n        default:\n            msg.payload = null;\n            return;\n    }\n} else {\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":360,"wires":[["19f7153f.f6756b","8f971647.9bb108"]]},{"id":"e9ed8dc9.6a0318","type":"function","z":"67bf247a.e6db64","name":"Nodo di collegamento","func":"/*\nQuesta funzione non fa niente, passa il comando esattamente come lo riceve.\nL'ho messa in previsione di future espansioni e perché aggiungendola\nsuccessivamente avrei dovuto rifare tutti i collegamenti.\n*/\nreturn msg;","outputs":"1","noerr":0,"x":880,"y":660,"wires":[["19f7153f.f6756b","d69ae994.2a8128"]]},{"id":"5b2e820d.298774","type":"ui_button","z":"67bf247a.e6db64","name":"","group":"ed71de57.e4ff","order":6,"width":0,"height":0,"passthru":false,"label":"Stato Impianto","color":"","bgcolor":"","icon":"cached","payload":"*#1*0##","payloadType":"str","topic":"MyHome/LUCE/STATO","x":900,"y":1580,"wires":[["e9ed8dc9.6a0318"]]},{"id":"17a97596.63a1ba","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Studio","group":"6f10791d.31f6b8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A7/P1","style":"","onvalue":"*1*1*71##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*71##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":390,"y":1940,"wires":[["e9ed8dc9.6a0318"]]},{"id":"69f360f1.96a4","type":"comment","z":"67bf247a.e6db64","name":"Tasti di servizio","info":"Mi sono serviti per capire meglio il funzionamento del protocollo","x":900,"y":1700,"wires":[]},{"id":"440df5f3.4e434c","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Corridoio","group":"b11099e3.1e49f","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A1/P5","style":"","onvalue":"*1*1*15##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*15##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":400,"y":740,"wires":[["e9ed8dc9.6a0318"]]},{"id":"7aae7149.e49a98","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Bagno","group":"a3e86e4d.97cf78","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A2/P1","style":"","onvalue":"*1*1*21##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*21##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":410,"y":900,"wires":[["e9ed8dc9.6a0318"]]},{"id":"e1fc1f82.33373","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Piantana Pianoforte","group":"be08a58c.7e6218","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A5/P1","style":"","onvalue":"*1*1*51##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*51##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":430,"y":1540,"wires":[["e9ed8dc9.6a0318"]]},{"id":"a17e817d.9aa69","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Penisola Cucina","group":"d45651a1.76b07","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A8/P2","style":"","onvalue":"*1*1*82##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*82##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":420,"y":2100,"wires":[["e9ed8dc9.6a0318"]]},{"id":"12895baa.26ae2c","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Pensili Cucina","group":"d45651a1.76b07","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A8/P3","style":"","onvalue":"*1*1*83##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*83##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":420,"y":2140,"wires":[["e9ed8dc9.6a0318"]]},{"id":"7041dfc1.409f5","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Neon Cucina","group":"d45651a1.76b07","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A8/P4","style":"","onvalue":"*1*1*84##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*84##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":410,"y":2180,"wires":[["e9ed8dc9.6a0318"]]},{"id":"1ae9ed27.1c819b","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Ripostiglio","group":"6f10791d.31f6b8","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A7/P2","style":"","onvalue":"*1*1*72##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*72##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":410,"y":1980,"wires":[["e9ed8dc9.6a0318"]]},{"id":"d69ae994.2a8128","type":"debug","z":"67bf247a.e6db64","name":"Msg. inviati","active":true,"console":"false","complete":"payload","x":1090,"y":700,"wires":[]},{"id":"ab0cf7ee.865928","type":"ui_switch","z":"67bf247a.e6db64","name":"Ingresso","label":"Ingresso","group":"b11099e3.1e49f","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A1/P1","style":"","onvalue":"*1*1*11##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*11##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":400,"y":660,"wires":[["e9ed8dc9.6a0318"]]},{"id":"6d12014a.95f728","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Disimpegno","group":"b11099e3.1e49f","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A1/P2","style":"","onvalue":"*1*1*12##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*12##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":410,"y":700,"wires":[["e9ed8dc9.6a0318"]]},{"id":"32f1b6e6.4cd67a","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Anti Bagno","group":"b11099e3.1e49f","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G1/A1/P6","style":"","onvalue":"*1*1*16##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*16##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":410,"y":780,"wires":[["e9ed8dc9.6a0318"]]},{"id":"7e84986f.dd5d","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Soffitta","group":"b11099e3.1e49f","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G1/A1/P7","style":"","onvalue":"*1*1*17##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*17##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":400,"y":820,"wires":[["e9ed8dc9.6a0318"]]},{"id":"c0afacb7.5eb518","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Aspiratore Bagno","group":"a3e86e4d.97cf78","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A2/P2","style":"","onvalue":"*1*1*22##","onvalueType":"str","onicon":"toys","oncolor":"yellow","offvalue":"*1*0*22##","offvalueType":"str","officon":"toys","offcolor":"gray","x":430,"y":940,"wires":[["e9ed8dc9.6a0318"]]},{"id":"13f61fda.17d7c","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Specchio Sx","group":"a3e86e4d.97cf78","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A2/P3","style":"","onvalue":"*1*1*23##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*23##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":430,"y":980,"wires":[["e9ed8dc9.6a0318"]]},{"id":"2cb75e73.c9974a","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Specchio Dx","group":"a3e86e4d.97cf78","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A2/P4","style":"","onvalue":"*1*1*24##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*24##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":430,"y":1020,"wires":[["e9ed8dc9.6a0318"]]},{"id":"a83d79d5.4aef48","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Piantana Camera","group":"8db219cd.6fe4f8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A3/P1","style":"","onvalue":"*1*1*31##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*31##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":430,"y":1220,"wires":[["e9ed8dc9.6a0318"]]},{"id":"b9f9504a.3c13f","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Camera","group":"8db219cd.6fe4f8","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A3/P2","style":"","onvalue":"*1*1*32##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*32##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":420,"y":1260,"wires":[["e9ed8dc9.6a0318"]]},{"id":"cf5a090e.afb138","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Abatjour Sx","group":"8db219cd.6fe4f8","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A3/P6","style":"","onvalue":"*1*1*36##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*36##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":410,"y":1300,"wires":[["e9ed8dc9.6a0318"]]},{"id":"3ef88de0.5102a2","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Abatjour Dx","group":"8db219cd.6fe4f8","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A3/P7","style":"","onvalue":"*1*1*37##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*37##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":410,"y":1340,"wires":[["e9ed8dc9.6a0318"]]},{"id":"5a21b374.82c834","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Salottino","group":"e5a53870.aec13","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G1/A4/P1","style":"","onvalue":"*1*1*41##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*41##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":420,"y":1420,"wires":[["e9ed8dc9.6a0318"]]},{"id":"2505a745.6d4638","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Scrivanie Salottino","group":"e5a53870.aec13","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G1/A4/P2","style":"","onvalue":"*1*1*42##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*42##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":430,"y":1460,"wires":[["e9ed8dc9.6a0318"]]},{"id":"11aa4c0b.1085f4","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Bagno piccolo","group":"85eadc64.5a474","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G1/A2/P6","style":"","onvalue":"*1*1*26##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*26##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":440,"y":1100,"wires":[["e9ed8dc9.6a0318"]]},{"id":"6efe8028.04ad78","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Specchio Bagno piccolo","group":"85eadc64.5a474","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G1/A2/P7","style":"","onvalue":"*1*1*27##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*27##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":450,"y":1140,"wires":[["e9ed8dc9.6a0318"]]},{"id":"11e8e75d.4acce1","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Piantana Divano","group":"be08a58c.7e6218","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A5/P2","style":"","onvalue":"*1*1*52##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*52##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":420,"y":1580,"wires":[["e9ed8dc9.6a0318"]]},{"id":"88a2ec4f.1580c8","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Sala","group":"be08a58c.7e6218","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A5/P3","style":"","onvalue":"*1*1*53##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*53##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":400,"y":1620,"wires":[["e9ed8dc9.6a0318"]]},{"id":"fb8b6e97.2ae0e","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Sala","group":"be08a58c.7e6218","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A5/P4","style":"","onvalue":"*1*1*54##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*54##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":400,"y":1660,"wires":[["e9ed8dc9.6a0318"]]},{"id":"3c6fe027.3e4e68","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Faretto Camerina","group":"a6b43be3.0a3868","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A6/P1","style":"","onvalue":"*1*1*61##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*61##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":430,"y":1740,"wires":[["e9ed8dc9.6a0318"]]},{"id":"627f4205.eef984","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Camerina","group":"a6b43be3.0a3868","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A6/P2","style":"","onvalue":"*1*1*62##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*62##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":420,"y":1780,"wires":[["e9ed8dc9.6a0318"]]},{"id":"6ce2f4ac.462dc4","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Soppalco","group":"a6b43be3.0a3868","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A6/P8","style":"","onvalue":"*1*1*68##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*68##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":420,"y":1820,"wires":[["e9ed8dc9.6a0318"]]},{"id":"808e96fc.8428a8","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Piantana Soppalco","group":"a6b43be3.0a3868","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G2/A6/P9","style":"","onvalue":"*1*1*69##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*69##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":430,"y":1860,"wires":[["e9ed8dc9.6a0318"]]},{"id":"8f971647.9bb108","type":"debug","z":"67bf247a.e6db64","name":"Msg. richiesta stato ...","active":true,"console":"false","complete":"payload","x":1120,"y":360,"wires":[]},{"id":"a1d7b22f.f2bb8","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Aree comuni","group":"b11099e3.1e49f","order":1,"width":0,"height":0,"passthru":false,"label":"Spegni Aree comuni","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*1##","payloadType":"str","topic":"MyHome/LUCE/G2/A1","x":870,"y":1000,"wires":[["e9ed8dc9.6a0318"]]},{"id":"7226ecbe.f5ec54","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Bagni","group":"a3e86e4d.97cf78","order":1,"width":0,"height":0,"passthru":false,"label":"Spegni Bagni","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*2##","payloadType":"str","topic":"MyHome/LUCE/G2/A2","x":890,"y":1040,"wires":[["e9ed8dc9.6a0318"]]},{"id":"b5ac37f1.50a92","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Camera","group":"8db219cd.6fe4f8","order":1,"width":0,"height":0,"passthru":false,"label":"Spegni Camera","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*3##","payloadType":"str","topic":"MyHome/LUCE/G2/A3","x":880,"y":1080,"wires":[["e9ed8dc9.6a0318"]]},{"id":"48cbe1dd.9c0e","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Salottino","group":"e5a53870.aec13","order":1,"width":0,"height":0,"passthru":false,"label":"Spegni Salottino","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*4##","payloadType":"str","topic":"MyHome/LUCE/G1/A4","x":880,"y":1120,"wires":[["e9ed8dc9.6a0318"]]},{"id":"f1e01438.ad3b1","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Sala","group":"be08a58c.7e6218","order":1,"width":0,"height":0,"passthru":false,"label":"Spegni Sala","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*5##","payloadType":"str","topic":"MyHome/LUCE/G2/A5","x":890,"y":1160,"wires":[["e9ed8dc9.6a0318"]]},{"id":"54107933.43bcc","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Camerina","group":"a6b43be3.0a3868","order":1,"width":0,"height":0,"passthru":false,"label":"Spegni Camerina","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*6##","payloadType":"str","topic":"MyHome/LUCE/G2/A6","x":880,"y":1200,"wires":[["e9ed8dc9.6a0318"]]},{"id":"47c0028e.7d32c4","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Studio","group":"6f10791d.31f6b8","order":1,"width":0,"height":0,"passthru":false,"label":"Spegni Studio","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*7##","payloadType":"str","topic":"MyHome/LUCE/G2/A3","x":890,"y":1240,"wires":[["e9ed8dc9.6a0318"]]},{"id":"83e7ca4f.0a9948","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Luci esterne","group":"bfc102a6.83057","order":1,"width":0,"height":0,"passthru":false,"label":"Spegni Luci esterne","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*9##","payloadType":"str","topic":"MyHome/LUCE/G2/A9","x":870,"y":1320,"wires":[["e9ed8dc9.6a0318"]]},{"id":"2d7b7cf6.ce8484","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce esterna","group":"bfc102a6.83057","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G9/A9/P1","style":"","onvalue":"*1*1*91##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*91##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":410,"y":2260,"wires":[["e9ed8dc9.6a0318"]]},{"id":"71118d45.4c549c","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Gr.1","group":"ed71de57.e4ff","order":2,"width":0,"height":0,"passthru":false,"label":"Spegni Gruppo 1","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*#1##","payloadType":"str","topic":"MyHome/LUCE/G1","x":890,"y":1380,"wires":[["e9ed8dc9.6a0318"]]},{"id":"128a85ea.3d3702","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Gr.2","group":"ed71de57.e4ff","order":3,"width":0,"height":0,"passthru":false,"label":"Spegni Gruppo 2","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*#2##","payloadType":"str","topic":"MyHome/LUCE/G2","x":890,"y":1420,"wires":[["e9ed8dc9.6a0318"]]},{"id":"87f26e58.ede86","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off Gr.9","group":"ed71de57.e4ff","order":4,"width":0,"height":0,"passthru":false,"label":"Spegni Gruppo 9","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*#9##","payloadType":"str","topic":"MyHome/LUCE/G9","x":890,"y":1460,"wires":[["e9ed8dc9.6a0318"]]},{"id":"aa9c242b.e43448","type":"ui_button","z":"67bf247a.e6db64","name":"Generale Off","group":"ed71de57.e4ff","order":1,"width":0,"height":0,"passthru":false,"label":"Spegni tutte le luci","color":"","bgcolor":"","icon":"power_settings_new","payload":"*1*0*0##","payloadType":"str","topic":"MyHome/LUCE/GE","x":910,"y":1520,"wires":[["e9ed8dc9.6a0318"]]},{"id":"46ac2336.06cb1c","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Presa esterna","group":"bfc102a6.83057","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G9/A9/P2","style":"","onvalue":"*1*1*92##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*92##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":420,"y":2300,"wires":[["e9ed8dc9.6a0318"]]},{"id":"a892605b.820578","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Giardino","group":"bfc102a6.83057","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G9/A9/P3","style":"","onvalue":"*1*1*93##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*93##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"gray","x":420,"y":2340,"wires":[["e9ed8dc9.6a0318"]]},{"id":"39f9658e.629962","type":"ui_switch","z":"67bf247a.e6db64","name":"","label":"Luce Corte interna","group":"bfc102a6.83057","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"MyHome/LUCE/G9/A9/P9","style":"","onvalue":"*1*1*99##","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"yellow","offvalue":"*1*0*99##","offvalueType":"str","officon":"lightbulb_outline","offcolor":"grey","x":430,"y":2380,"wires":[["e9ed8dc9.6a0318"]]},{"id":"549b487b.314ec","type":"ui_text","z":"67bf247a.e6db64","group":"ed71de57.e4ff","order":0,"width":"4","height":"1","name":"Visualizza","label":"Comando ricevuto:","format":"{{msg.payload}}","layout":"col-center","x":1080,"y":300,"wires":[]},{"id":"156f7e51.95e89a","type":"trigger","z":"67bf247a.e6db64","op1":"","op2":"*99*1##","op1type":"nul","op2type":"str","duration":"135","extend":true,"units":"s","reset":"","name":"WatchDog","x":530,"y":80,"wires":[["118351b5.d14eae"]]},{"id":"aa01b6b8.66d32","type":"inject","z":"67bf247a.e6db64","name":"Richiesta stato impianto Luce","topic":"MyHome/LUCE/STATO","payload":"*#1*0##","payloadType":"str","repeat":"","crontab":"","once":true,"x":470,"y":540,"wires":[["e7189396.2a5bb8"]]},{"id":"3451d306.7feaf4","type":"comment","z":"67bf247a.e6db64","name":"WatchDog per tenere il Socket Monitor sempre attivo","info":"Il WebServer invia un messaggio di HeartBit (*#13**15*6##) ogni 130 secondi e potrebbe essere usato per resettare il WatchDog che ho impostato a 135 secondi.\nInvece ho ritenuto più opportuno resettare il WatchDog con cualunque messaggio ricevuto dal Bus.","x":840,"y":80,"wires":[]},{"id":"e7189396.2a5bb8","type":"delay","z":"67bf247a.e6db64","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":540,"wires":[["e9ed8dc9.6a0318"]]},{"id":"d45651a1.76b07","type":"ui_group","z":"","name":"Cucina","tab":"42d04bb3.3d1194","order":1,"disp":true,"width":"4"},{"id":"ed71de57.e4ff","type":"ui_group","z":"","name":"Servizio","tab":"42d04bb3.3d1194","order":11,"disp":true,"width":"4"},{"id":"6f10791d.31f6b8","type":"ui_group","z":"","name":"Studio","tab":"42d04bb3.3d1194","order":2,"disp":true,"width":"4"},{"id":"b11099e3.1e49f","type":"ui_group","z":"","name":"Aree comuni","tab":"42d04bb3.3d1194","order":9,"disp":true,"width":"4"},{"id":"a3e86e4d.97cf78","type":"ui_group","z":"","name":"Bagno","tab":"42d04bb3.3d1194","order":5,"disp":true,"width":"4"},{"id":"be08a58c.7e6218","type":"ui_group","z":"","name":"Sala","tab":"42d04bb3.3d1194","order":3,"disp":true,"width":"4"},{"id":"8db219cd.6fe4f8","type":"ui_group","z":"","name":"Camera","tab":"42d04bb3.3d1194","order":8,"disp":true,"width":"4"},{"id":"e5a53870.aec13","type":"ui_group","z":"","name":"Salottino","tab":"42d04bb3.3d1194","order":4,"disp":true,"width":"4"},{"id":"85eadc64.5a474","type":"ui_group","z":"","name":"Bagno piccolo","tab":"42d04bb3.3d1194","order":6,"disp":true,"width":"4"},{"id":"a6b43be3.0a3868","type":"ui_group","z":"","name":"Camerina","tab":"42d04bb3.3d1194","order":7,"disp":true,"width":"4"},{"id":"bfc102a6.83057","type":"ui_group","z":"","name":"Esterne","tab":"42d04bb3.3d1194","order":10,"disp":true,"width":"4"},{"id":"42d04bb3.3d1194","type":"ui_tab","z":"","name":"Casa","icon":"dashboard"}]
